apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-service
  namespace: {{ target_namespace }}
  labels:
    app: {{ app_name }}
spec:
  type: NodePort
  ports:
  - port: {{ app_port | int }}
    targetPort: {{ app_port | int }}
    nodePort: 30080
  selector:
    app: {{ app_name }}
